# Functions in Python

.

In [1]:
def even_odd(num):
    if num%2==0:
        print("The number is even")
        
    else:
        print("The number is odd")

In [2]:
x=10
even_odd(x)

The number is even

In [3]:
even_odd(5)

The number is odd

User input

In [1]:
number = int(input("Enter the number: "))
def even_oddinput(number):
    if number%2==0:
        print("{0} is Even".format(number))
    else:
        print("{0} is Odd".format(number))

Enter the number: 6

In [2]:
even_oddinput(number)

6 is Even

In [11]:
x = range(1,20)
odd = []
even = []
def even_oddarray():
    for i in x: 
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)

In [12]:
even_oddarray()
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Positional and keyword argument

In [18]:
def Hello_world(name,age=24):
     print("My name is {}, and my age is {}".format(name,age))

In [20]:
Hello_world("Megha")

My name is Megha, and my age is 24

Here, name is positional argument and age is keyword argument as it is present in the form of key-value pair.
We can make both the arguments as positional and keyword depending upon the situation

In [21]:
def arg_functions(*args, **krgs):
    print(args)
    print(krgs)

In [22]:
arg_functions("Megha", "Sharma", age=24, dob=20)

('Megha', 'Sharma')
{'age': 24, 'dob': 20}

In [24]:
args=["Megha", "Sharma"]
krgs={'age': 24, 'dob': 20}
arg_functions(*args, **krgs)

('Megha', 'Sharma')
{'age': 24, 'dob': 20}

In [25]:
args=["Megha", "Sharma"]
krgs={'age': 24, 'dob': 20}
arg_functions(args, krgs)

(['Megha', 'Sharma'], {'age': 24, 'dob': 20})
{}

* is important otherwise, python will take both argumnets as positional arguments

In [31]:
type(args)

list

In [41]:
lst = [1,2,3,4,5,6,7]
def evenodd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

In [42]:
evenodd_sum(lst)

(12, 16)

Returning multiple outputs from a function

# Lamba function

Also called as anonymous function 

A function with no name 

Faster than other normal functions

In [43]:
#normal function
def addition(a,b):
     return a+b

In [44]:
addition(122,89)

211

This is a normal function wehre in we have a single expression. 

Lambda functions can be used where we have only a single expression. No where else we can use lambda functions else the mention condition.

In [55]:
#lambda function
addition = lambda a,b:a+b
addition(122,89)

211

In [49]:
#normal function
def even_num(num):
    if num%2==0:
        return True

In [52]:
even_num(38)

True

In [56]:
#lambda function
even_nmber = lambda num:num%2==0
even_nmber(24)

True

# Map Function

In [70]:
def even_odd(number):
    if number%2==0:
        return "The number {} is Even".format(number)
    else:
        return "The number {} is Odd".format(number)

In [58]:
even_odd(45)

The number 45 is Odd

In [68]:
lst = [34,78,44,9766,6446,97,6,3,6789,9532,53,1,4,876,94,465,78956,976]
map(even_odd,lst)

Lazy loading 

Output is generated at this location.

In [71]:
lst = [34,78,44,9766,6446,97,6,3,6789,9532,53,1,4,876,94,465,78956,976]
list(map(even_odd,lst))

['The number 34 is Even',
 'The number 78 is Even',
 'The number 44 is Even',
 'The number 9766 is Even',
 'The number 6446 is Even',
 'The number 97 is Odd',
 'The number 6 is Even',
 'The number 3 is Odd',
 'The number 6789 is Odd',
 'The number 9532 is Even',
 'The number 53 is Odd',
 'The number 1 is Odd',
 'The number 4 is Even',
 'The number 876 is Even',
 'The number 94 is Even',
 'The number 465 is Odd',
 'The number 78956 is Even',
 'The number 976 is Even']

# Filter Functions

In [77]:
def even(num):
    if num%2==0:
        return True

In [78]:
lst = [34,78,44,9766,6446,97,6,3,6789,9532,53,1,4,876,94,465,78956,976]

In [79]:
list(filter(even,lst))

[34, 78, 44, 9766, 6446, 6, 9532, 4, 876, 94, 78956, 976]

Filtering and giving only even numbers in the list.

Using lambda function

In [80]:
list(filter(lambda num:num%2==0, lst))

[34, 78, 44, 9766, 6446, 6, 9532, 4, 876, 94, 78956, 976]

Difference between using map and filter function

In [81]:
list(map(lambda num:num%2==0, lst))

[True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True]

map function will provide a list of all the results but filter function will filter and slect only even numbers and generate output.